
# general
*~

# code
.idea/
code/__pycache__/
code/tests/__pycache__/

# latex for thesis
# we want only the tex and the pdf
*.aux
*.lof
*.lot
*.log
*.out
*.synctex.gz
*.toc
*.tdo
*.fdb_latexmk
*sublime-*
thesis/todonotes.pdf

# bibliography
*.bbl
*.blg

# test stuff
test.*
sample.*

# latex documentation
thesis/aslsyms.ps
thesis/short-math-guide.pdf

+# Byte-compiled / optimized / DLL files
+__pycache__/
+*.py[cod]
+
+# C extensions
+*.so
+
+# Distribution / packaging
+.Python
+env/
+build/
+develop-eggs/
+dist/
+downloads/
+eggs/
+lib/
+lib64/
+parts/
+sdist/
+var/
+*.egg-info/
+.installed.cfg
+*.egg
+
+# PyInstaller
+#  Usually these files are written by a python script from a template
+#  before PyInstaller builds the exe, so as to inject date/other infos into it.
+*.manifest
+*.spec
+
+# Installer logs
+pip-log.txt
+pip-delete-this-directory.txt
+
+# Unit test / coverage reports
+htmlcov/
+.tox/
+.coverage
+.cache
+nosetests.xml
+coverage.xml
+
+# Translations
+*.mo
+*.pot
+
+# Django stuff:
+*.log
+
+# Sphinx documentation
+docs/_build/
+
+# PyBuilder
+target/
+[._]*.s[a-w][a-z]
+[._]s[a-w][a-z]
+*.un~
+Session.vim
+.netrwhist
+*~
+*~
+
+# KDE directory preferences
+.directory
+
+# Linux trash folder which might appear on any partition or disk
+.Trash-*

# Mac OS stuff
*.DS_Store
