
# general
*~

# code
.idea/
code/__pycache__/
code/tests/__pycache__/

# latex for thesis
# we want only the tex and the pdf
*.aux
*.lof
*.lot
*.log
*.out
*.synctex.gz
*.toc
*.tdo
*.fdb_latexmk
*sublime-*
thesis/todonotes.pdf
